<div class="pull-right">
    <{if !$xoops_isuser}>
    <a class="btn btn-primary" href="<{xoAppUrl user.php}>">
        <i class="icon-white icon-user"></i>
        <{$smarty.const._THEME_LOGIN}>
    </a>
    <a class="btn btn-info" href="<{xoAppUrl register.php}>">
        <i class="icon-white icon-leaf"></i>
        <{$smarty.const._THEME_REGISTER}>
    </a>
    <{else}>
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="ico-lightning"></i>&nbsp;<{$smarty.const._THEME_QUICK}><i class="caret"></i></a>
            <ul class="dropdown-menu">
                <{if $xoops_isadmin}>
                <li>
                    <a href="<{xoAppUrl admin.php}>" title="<{$smarty.const._THEME_ADMIN}>" rel="external">
                        <i class="icon-wrench"></i>
                        <{$smarty.const._THEME_ADMIN}>
                    </a>
                </li>
                <{/if}>
                <li>
                    <a href="<{xoAppUrl user.php}>" title="<{$smarty.const._THEME_MYACCOUNT}>">
                        <i class="icon-user"></i>
                        <{$smarty.const._THEME_MYACCOUNT}>
                    </a>
                </li>
                <li>
                    <a href="<{xoAppUrl edituser.php}>" title="<{$smarty.const._THEME_EDITPROFILE}>">
                        <i class="icon-edit"></i>
                        <{$smarty.const._THEME_EDITPROFILE}>
                    </a>
                </li>
                <li>
                    <a href="<{xoAppUrl /notifications.php}>" title="<{$smarty.const._THEME_NOTIFICATION}>">
                        <i class="icon-comment"></i>
                        <{$smarty.const._THEME_NOTIFICATION}>
                    </a>
                </li>
                <{xoInboxCount assign=pm_count}>
                <{if $pm_count}>
                <li>
                    <a href="<{xoAppUrl viewpmsg.php}>" title="<{$smarty.const._THEME_PM}>">
                        <i class="icon-envelope"></i>
                        <{$smarty.const._THEME_PM}> (<strong><{$pm_count}></strong>)
                    </a>
                </li>
                <{else}>
                <li>
                    <a href="<{xoAppUrl viewpmsg.php}>" title="<{$smarty.const._THEME_PM}>">
                        <i class="icon-envelope"></i>
                        <{$smarty.const._THEME_PM}>
                    </a>
                </li>
                <{/if}>
                <li class="divider"></li>
                <li>
                    <a href="<{xoAppUrl user.php?op=logout}>" title="<{$smarty.const._THEME_LOGOUT}>">
                        <i class="icon-off"></i>
                        <{$smarty.const._THEME_LOGOUT}>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>
    <{/if}>
</div>
