<{includeq file="admin:system|admin_navigation.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<{includeq file="admin:system|admin_buttons.html"}>
<!--Banner-->
<{if $banner_count == true}>
<h4><{$smarty.const._AM_BANNERS_BANNERS_CURRENT}></h4>
<table id="xo-bannerslist-sorter" class="outer tablesorter">
    <thead>
    <tr>
        <th class="txtcenter"><{$smarty.const._AM_BANNERS_BANNERS_IMPRESSIONS}></th>
        <th class="txtcenter"><{$smarty.const._AM_BANNERS_BANNERS_IMPRESIONLEFT}></th>
        <th class="txtcenter width10"><{$smarty.const._AM_BANNERS_BANNERS_CLICKS}></th>
        <th class="txtcenter width10"><{$smarty.const._AM_BANNERS_BANNERS_NCLICKS}></th>
        <th class="txtcenter width15"><{$smarty.const._AM_BANNERS_CLIENTS_NAME}></th>
        <th class="txtcenter width10"><{$smarty.const._AM_BANNERS_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=banner from=$banner}>
    <tr class="<{cycle values='even,odd'}>">
        <td class="txtcenter"><{$banner.impmade}></td>
        <td class="txtcenter"><{$banner.left}></td>
        <td class="txtcenter"><{$banner.clicks}></td>
        <td class="txtcenter"><{$banner.percent}>%</td>
        <td class="txtcenter"><{$banner.name}></td>
        <td class="xo-actions txtcenter">
            <img onclick="display_dialog(<{$banner.bid}>, true, true, 'slide', 'slide', 200, 520);" src="<{xoAdminIcons display.png}>" alt="<{$smarty.const._AM_BANNERS_VIEW}>" title="<{$smarty.const._AM_BANNERS_VIEW}>" />
            <a href="banners.php?op=edit&amp;bid=<{$banner.bid}>" title="<{$smarty.const._AM_BANNERS_EDIT}>">
                <img src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._AM_BANNERS_EDIT}>" />
            </a>
            <a href="banners.php?op=delete&amp;bid=<{$banner.bid}>" title="<{$smarty.const._AM_BANNERS_DELETE}>">
                <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._AM_BANNERS_DELETE}>" />
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<div class="clear spacer"></div>
<{if $nav_menu_banner}>
<div class="xo-avatar-pagenav floatright"><{$nav_menu_banner}></div><div class="clear spacer"></div>
<{/if}>
<!--Pop-pup-->
<{foreach item=banner from=$popup_banner}>
<div id="dialog<{$banner.bid}>" title="<{$banner.name}>" style='display:none;'>
    <{$banner.imageurl}>
</div>
<{/foreach}>
<!--Pop-pup-->
<{/if}>

<!--Banner Finish-->
<{if $banner_finish_count == true}>
<h4><{$smarty.const._AM_BANNERS_BANNERS_FINISH}></h4>
<table id="xo-bannersfinish-sorter" class="outer tablesorter">
    <thead>
    <tr>
        <th class="txtcenter"><{$smarty.const._AM_BANNERS_BANNERS_IMPRESSIONS}></th>
        <th class="txtcenter"><{$smarty.const._AM_BANNERS_BANNERS_STARTDATE}></th>
        <th class="txtcenter"><{$smarty.const._AM_BANNERS_BANNERS_ENDDATE}></th>
        <th class="txtcenter width10"><{$smarty.const._AM_BANNERS_BANNERS_CLICKS}></th>
        <th class="txtcenter width10"><{$smarty.const._AM_BANNERS_BANNERS_NCLICKS}></th>
        <th class="txtcenter width15"><{$smarty.const._AM_BANNERS_CLIENTS_NAME}></th>
        <th class="txtcenter width10"><{$smarty.const._AM_BANNERS_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=banner_finish from=$banner_finish}>
    <tr class="<{cycle values='even,odd'}>">
        <td class="txtcenter"><{$banner_finish.impressions}></td>
        <td class="txtcenter"><{$banner_finish.datestart}></td>
        <td class="txtcenter"><{$banner_finish.dateend}></td>
        <td class="txtcenter"><{$banner_finish.clicks}></td>
        <td class="txtcenter"><{$banner_finish.percent}>%</td>
        <td class="txtcenter"><{$banner_finish.name}></td>
        <td class="xo-actions txtcenter">
            <img onclick="display_dialog(<{$banner_finish.bid}>, true, true, 'slide', 'slide', 200, 520);" src="<{xoAdminIcons display.png}>" alt="<{$smarty.const._AM_BANNERS_VIEW}>" title="<{$smarty.const._AM_BANNERS_VIEW}>" />
            <a href="banners.php?op=reload&amp;bid=<{$banner_finish.bid}>" title="<{$smarty.const._AM_BANNERS_BANNERS_RELOAD}>">
                <img src="<{xoAdminIcons reload.png}>" alt="<{$smarty.const._AM_BANNERS_BANNERS_RELOAD}>"/>
            </a>
            <a href="banners.php?op=delete&amp;bid=<{$banner_finish.bid}>" title="<{$smarty.const._AM_BANNERS_DELETE}>">
                <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._AM_BANNERS_DELETE}>" />
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<div class="clear spacer"></div>
<{if $nav_menu_bannerF}>
<{$nav_menu_bannerF}>
<div class="clear spacer"></div>
<{/if}>
<!--Pop-pup-->
<{foreach item=banner_finish from=$popup_banner_finish}>
<div id="dialog<{$banner_finish.bid}>" title="<{$banner_finish.name}>" style='display:none;'>
    <{$banner_finish.imageurl}>
</div>
<{/foreach}>
<!--Pop-pup-->
<{/if}>
<!-- Display form (add,edit) -->
<{$form}>