<{foreach item=content from=$block}>
<div class="page_indexheader">
    &nbsp;
    <div class="page_headerleft">
        <a href="<{$xoops_url}>/modules/page/viewpage.php?id=<{$content.id}>" title="<{$content.title}>"><{$content.title}></a>
    </div>
</div>
<div class="page_indexcontent">
    <{$content.shorttext}>
    <{if $content.text}>
    <br />
    <{$content.text}>
    <{else}>
    <div class="page_more">
        <a href="<{$xoops_url}>/modules/page/viewpage.php?id=<{$content.id}>" title="<{$content.title}>"><{$smarty.const._MD_PAGE_INDEX_MORE}></a>
    </div>
    <{/if}>
</div>
<div class="page_footer">
    &nbsp;
    <div class="page_footerleft">
        <{$smarty.const._MD_PAGE_VIEWPAGE_POSTEDBY}>&nbsp;<a href="<{$xoops_url}>/userinfo.php?uid=<{$content.authorid}>"><{$content.author}></a>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_ON}>&nbsp;<{$content.date}>
    </div>
</div>
<{/foreach}>