<script>
$(function(){
    $('.star_rating').rating({
    callback: function(value, link){
        //if (confirm("The value selected was '" + value + "'\n <{$title}>")) {
            this.form.submit();
        //}
    }
    });
});
</script>
<{if $block.content_doheader}>
<div class="page_header">
    &nbsp;
    <{if $block.content_dotitle}>
    <div class="page_headerleft">
        <{$block.content_title}>
    </div>
    <{/if}>
    <{if $block.content_dorating}>
    <div class="page_headerright">
        <{$block.rating_form}>
    </div>
    <{/if}>
</div>
<{if $block.content_dorating}>
<div class="page_vote">
    <{$smarty.const._MD_PAGE_VIEWPAGE_RATING}>:&nbsp;<{$block.content_rating}>&nbsp;(<{$block.content_votes}>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_VOTE}>)
</div>
<{/if}>
<{/if}>
<div class="page_content">
    <{if $block.summary}>
    <h4><{$smarty.const._MD_PAGE_VIEWPAGE_SUMMARY}>:</h4>
    <div>
        <ul>
        <{foreach item=summary from=$block.summary}>
            <li><{$summary}></li>
        <{/foreach}>
        </ul>
    </div>
    <{/if}>
    <{$block.content_shorttext}>
    <br />
    <{$block.content_text}>
    <{if $block.navigation}>
    <div class="clear"></div>
        <{assign var='related' value=$block.related}>
        <{includeq file="module:page|page_navigation.html"}>
    <div class="clear"></div>
    <{/if}>

    <div class="right">
        <{if $block.content_doprint}>
        <a href="<{$xoops_url}>/modules/page/print.php?id=<{$block.content_id}>" title="<{$smarty.const._MD_PAGE_VIEWPAGE_PRINT}>"><img src="<{xoAppUrl media/xoops/images/icons/16/printer.png}>" alt="<{$smarty.const._MD_PAGE_VIEWPAGE_PRINT}>" /></a>
        <{/if}>
        <{if $block.content_dopdf}>
        <a href="<{$xoops_url}>/modules/page/pdf.php?id=<{$block.content_id}>" title="<{$smarty.const._MD_PAGE_VIEWPAGE_PDF}>"><img src="<{xoAppUrl media/xoops/images/icons/16/pdf.png}>" alt="<{$smarty.const._MD_PAGE_VIEWPAGE_PDF}>" /></a>
        <{/if}>
    </div>
</div>
<{if $block.content_dofooter}>
<div class="page_footer">
    &nbsp;
    <div class="page_footerleft">
        <{if $block.content_doauthor}><{$smarty.const._MD_PAGE_VIEWPAGE_POSTEDBY}>&nbsp;<a href="<{$xoops_url}>/userinfo.php?uid=<{$block.content_authorid}>"><{$block.content_author}></a>&nbsp;<{/if}><{if $block.content_dodate}><{$smarty.const._MD_PAGE_VIEWPAGE_ON}>&nbsp;<{$block.content_date}>&nbsp;<{$block.content_time}>&nbsp;<{/if}><{if $block.content_dohits}><{$block.content_hits}><{/if}>
    </div>
    <{if $block.content_doncoms}>
    <div class="page_footerright">
        <img src="<{$xoops_url}>/modules/page/images/comments.png" alt="<{$block.content_comments}>"/>&nbsp;(<{$block.content_comments}>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_COMMENTS}>)
    </div>
    <{/if}>
</div>
<{/if}>
<{if $block.content_dosocial}>
<{includeq file='module:xoosocialnetwork|xoosocialnetwork.html'}>
<{/if}>