<{includeq file="admin:system|admin_navigation.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<{includeq file="admin:system|admin_buttons.html"}>
<!--Comments-->
<{if $form}>
<{$form}>
<{else}>
<div class="floatleft"><{$form_sort}></div>
<div class="floatright">
    <div class="xo-buttons">
        <button class="btn" onclick="self.location.href='main.php?op=comments_form_purge'">
            <i class="icon-remove"></i>
            <{$smarty.const._AM_COMMENTS_FORM_PURGE}>
        </button>
    </div>
</div>
<div class="clear"></div>
<form name='commentslist' id='commentslist' action='<{$php_selft}>' method="post">
    <table id="xo-comment-sorter" class="outer tablesorter">
        <thead>
        <tr>
            <th class="txtcenter width5"><input name='allbox' id='allbox' onclick='xoopsCheckAll("commentslist", "allbox");'  type='checkbox' value='Check All' /></th>
            <th class="txtcenter width5"></th>
            <th class="txtcenter"><{$smarty.const._AM_COMMENTS_TITLE}></th>
            <th class="txtcenter"><{$smarty.const._AM_COMMENTS_POSTED}></th>
            <th class="txtcenter"><{$smarty.const._AM_COMMENTS_IP}></th>
            <th class="txtcenter"><{$smarty.const._DATE}></th>
            <th class="txtcenter"><{$smarty.const._AM_COMMENTS_MODULE}></th>
            <th class="txtcenter"><{$smarty.const._AM_COMMENTS_STATUS}></th>
            <th class="txtcenter width10"><{$smarty.const._AM_COMMENTS_ACTION}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach item=comments from=$comments}>
        <tr class="<{cycle values='even,odd'}> alignmiddle">
            <td class="txtcenter"><input type='checkbox' name='commentslist_id[]' id='commentslist_id[]' value='<{$comments.comments_id}>'/></td>
            <td class="txtcenter"><{$comments.comments_icon}></td>
            <td class="txtcenter"><{$comments.comments_title}></td>
            <td class="txtcenter"><{$comments.comments_poster}></td>
            <td class="txtcenter"><{$comments.comments_ip}></td>
            <td class="txtcenter"><{$comments.comments_date}></td>
            <td class="txtcenter"><{$comments.comments_modid}></td>
            <td class="txtcenter"><{$comments.comments_status}></td>
            <td class="xo-actions txtcenter">
                <img class="cursorpointer" onclick="display_dialog('<{$comments.comments_id}>', true, true, 'slide', 'slide', 300, 500);" src="<{xoAdminIcons display.png}>" alt="<{$smarty.const._AM_COMMENTS_VIEW}>" title="<{$smarty.const._AM_COMMENTS_VIEW}>" />
                <a href="comment_edit.php?com_id=<{$comments.comments_id}>" title="<{$smarty.const._EDIT}>">
                    <img src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._EDIT}>">
                </a>
                <a href="comment_delete.php?com_id=<{$comments.comments_id}>" title="<{$smarty.const._DELETE}>">
                    <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._DELETE}>">
                </a>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tr>
            <td><input class='btn' type='submit' name='<{$smarty.const._DELETE}>' value='<{$smarty.const._DELETE}>' /></td>
            <td colspan="8">&nbsp;</td>
        </tr>
    </table>
</form>
<{foreach item=comments from=$comments_popup}>
<!--Pop-pup-->
<div id='dialog<{$comments.comments_id}>' title='<{$comments.comments_icon}>&nbsp;&nbsp;<{$comments.comments_title}>' style='display:none;'>
    <img src="<{xoAdminIcons comment.png}>" alt="comments" title="comments" class="xo-commentsimg" />
    <p><{$comments.comments_text}></p>
</div>
<{/foreach}>
<!--Pop-pup-->
<div class="txtright"><{$nav}></div>
<{/if}>
