/**
 * Adapt Bootstrap to Xoops
 * $Id$
 */
@import url(bootstrap.min.css);

/* Forms style */
input:required, textarea:required{
    background:url(../img/required.png) right center no-repeat;
}
input:focus:invalid, textarea:focus:invalid{
    background-image:none;
}

.dsc_pattern_vertical{display:none;}

input:focus:invalid + span + .dsc_pattern_vertical{
    display:block;
    color: #b94a48;
}
.dsc_pattern_horizontal{display:none;}
input:focus:invalid + .dsc_pattern_horizontal{
    display:inline;
    color: #b94a48;
}
.caption-required{color: #b94a48;}

/* Area style */
.xo-window {
    background-color: #222222;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-border-radius: 5px 5px 0 0;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-radius-topleft: 5px;
    -webkit-border-radius-topright: 5px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #2D4760;
    padding: 4px 6px 6px 4px;
    height: 20px;
}
.xo-window-title {
    padding: 2px 6px 6px 6px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 2px #000;
    font-family: tahoma, verdana, arial, sans-serif;
}
.xo-window-data {
    float: left;
    min-height: 50px;
    padding: 6px;
    width: 100%;
}

.clear {
    clear: both;
}
.spacer .spacer-mini {
    padding:0 0 3px 0;
}
.spacer-mid {
    padding:0 0 6px 0;
}
.spacer-large {
    padding:0 0 12px 0;
}

.txt-center { text-align: center; }

.form-horizontal .control-label {
  float: left;
  width: 250px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 270px;
  *margin-left: 0;
}
