<script type="text/javascript">
    Xoops.setStatusImg('accept', '<{xoAdminIcons success.png}>');
    Xoops.setStatusImg('cancel', '<{xoAdminIcons cancel.png}>');
    Xoops.setStatusText('accept', '<{$smarty.const._AM_PAGE_OFF}>');
    Xoops.setStatusText('cancel', '<{$smarty.const._AM_PAGE_ON}>');
</script>
<{includeq file="admin:system|admin_navigation.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<{includeq file="admin:system|admin_buttons.html"}>
<!--Page content-->
<{if $content_count == true}>
<table id="xo-smilies-sorter" class="outer tablesorter">
    <thead>
    <tr>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_CONTENT_ID}></th>
        <th class="txtleft"><{$smarty.const._AM_PAGE_CONTENT_TITLE}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_CONTENT_MAINDISPLAY_SHORT}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_CONTENT_STATUS}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_CONTENT_WEIGHT}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_CONTENT_HITS}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_CONTENT_RATING}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=content from=$content}>
    <tr class="<{cycle values='even,odd'}> alignmiddle">
        <td class="txtcenter width5">
            <a href="../viewpage.php?id=<{$content.id}>" title="<{$content.title}>"><{$content.id}></a>
        </td>
        <td class="txtleft width35"><{$content.title}></td>
        <td class="xo-actions txtcenter width15">
            <img id="loading_display<{$content.id}>" src="<{xoAppUrl media/xoops/images/spinner.gif}>" style="display:none;" alt="<{$smarty.const._AM_SYSTEM_LOADING}>" />
            <img class="cursorpointer" id="display<{$content.id}>" onclick="Xoops.changeStatus( 'content.php', { op: 'update_display', content_id: <{$content.id}> }, 'display<{$content.id}>', 'content.php' )" src="<{if $content.maindisplay}><{xoAdminIcons success.png}><{else}><{xoAdminIcons cancel.png}><{/if}>" alt="<{if $content.maindisplay}><{$smarty.const._AM_PAGE_OFF}><{else}><{$smarty.const._AM_PAGE_ON}><{/if}>" title="<{if $content.maindisplay}><{$smarty.const._AM_PAGE_OFF}><{else}><{$smarty.const._AM_PAGE_ON}><{/if}>" />
        </td>
        <td class="xo-actions txtcenter width5">
            <img id="loading_sml<{$content.id}>" src="<{xoAppUrl media/xoops/images/spinner.gif}>" style="display:none;" alt="<{$smarty.const._AM_SYSTEM_LOADING}>" />
            <img class="cursorpointer" id="sml<{$content.id}>" onclick="Xoops.changeStatus( 'content.php', { op: 'update_status', content_id: <{$content.id}> }, 'sml<{$content.id}>', 'content.php' )" src="<{if $content.status}><{xoAdminIcons success.png}><{else}><{xoAdminIcons cancel.png}><{/if}>" alt="<{if $content.status}><{$smarty.const._AM_PAGE_OFF}><{else}><{$smarty.const._AM_PAGE_ON}><{/if}>" title="<{if $content.status}><{$smarty.const._AM_PAGE_OFF}><{else}><{$smarty.const._AM_PAGE_ON}><{/if}>" />
        </td>
        <td class="txtcenter width5"><{$content.weight}></td>
        <td class="txtcenter width5"><{$content.hits}></td>
        <td class="txtcenter width5"><{$content.rating}></td>
        <td class="xo-actions txtcenter width10">
            <a href="content.php?op=clone&amp;id=<{$content.id}>" title="<{$smarty.const._AM_PAGE_CLONE}>">
                <img src="<{xoAdminIcons clone.png}>" alt="<{$smarty.const._AM_PAGE_CLONE}>">
            </a>
            <a href="content.php?op=edit&amp;id=<{$content.id}>" title="<{$smarty.const._AM_PAGE_EDIT}>">
                <img src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._AM_PAGE_EDIT}>">
            </a>
            <a href="content.php?op=delete&amp;id=<{$content.id}>" title="<{$smarty.const._AM_PAGE_DELETE}>">
                <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._AM_PAGE_DELETE}>">
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<div class="clear spacer"></div>
<{if $nav_menu}>
<{$nav_menu}>
<{/if}>
<{/if}>
<!-- Display form (add,edit) -->
<{if $error_message}>
<div class="alert alert-error">
    <strong><{$error_message}></strong>
</div>
<{/if}>
<{$form}>