<script type="text/javascript">
    Xoops.setStatusImg('accept', '<{xoAdminIcons success.png}>');
    Xoops.setStatusImg('cancel', '<{xoAdminIcons cancel.png}>');
    Xoops.setStatusText('accept', '<{$smarty.const._AM_PAGE_OFF}>');
    Xoops.setStatusText('cancel', '<{$smarty.const._AM_PAGE_ON}>');
</script>
<{includeq file="admin:system|admin_navigation.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<{includeq file="admin:system|admin_buttons.html"}>
<!--Page related-->
<{if $related_count == true}>
<table id="xo-smilies-sorter" class="outer tablesorter">
    <thead>
    <tr>
        <th class="txtleft"><{$smarty.const._AM_PAGE_RELATED_NAME}></th>
        <th class="txtleft"><{$smarty.const._AM_PAGE_RELATED_MAIN}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_RELATED_NAVIGATION}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_RELATED_MENU}></th>
        <th class="txtcenter"><{$smarty.const._AM_PAGE_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=related from=$related}>
    <tr class="<{cycle values='even,odd'}> alignmiddle">
        <td class="txtleft"><{$related.name}></td>
        <td class="txtleft width15">
            <a href="content.php?op=edit&amp;id=<{$related.main_contentid}>" title="<{$smarty.const._AM_PAGE_EDIT}>">
                <{$related.main_name}>
            </a>
        </td>
        <td class="txtcenter width15"><{$related.navigation}></td>
        <td class="xo-actions txtcenter width5">
            <img id="loading_sml<{$related.id}>" src="<{xoAppUrl media/xoops/images/spinner.gif}>" style="display:none;" alt="<{$smarty.const._AM_SYSTEM_LOADING}>" />
            <img class="cursorpointer" id="sml<{$related.id}>" onclick="Xoops.changeStatus( 'related.php', { op: 'update_status', related_id: <{$related.id}> }, 'sml<{$related.id}>', 'related.php' )" src="<{if $related.domenu}><{xoAdminIcons success.png}><{else}><{xoAdminIcons cancel.png}><{/if}>" alt="<{if $related.domenu}><{$smarty.const._AM_PAGE_OFF}><{else}><{$smarty.const._AM_PAGE_ON}><{/if}>" title="<{if $related.domenu}><{$smarty.const._AM_PAGE_OFF}><{else}><{$smarty.const._AM_PAGE_ON}><{/if}>" />
        </td>
        <td class="xo-actions txtcenter width10">
            <img onclick="display_dialog(<{$related.id}>, true, true, 'slide', 'slide', 250, 450);" src="<{xoAdminIcons display.png}>" alt="<{$smarty.const._AM_PAGE_VIEW}>" title="<{$smarty.const._AM_PAGE_VIEW}>" />
            <a href="related.php?op=edit&amp;id=<{$related.id}>" title="<{$smarty.const._AM_PAGE_EDIT}>">
                <img src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._AM_PAGE_EDIT}>">
            </a>
            <a href="related.php?op=delete&amp;id=<{$related.id}>" title="<{$smarty.const._AM_PAGE_DELETE}>">
                <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._AM_PAGE_DELETE}>">
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<div class="clear spacer"></div>
<{if $nav_menu}>
<div class="xo-avatar-pagenav floatright"><{$nav_menu}></div><div class="clear spacer"></div>
<{/if}>
<!--Pop-pup-->
<{foreach item=related from=$popup_related}>
<div id="dialog<{$related.id}>" title="<{$related.name}>" style='display:none;'>
    <strong><{$smarty.const._AM_PAGE_RELATED_MAIN}>:</strong>
    <ul>
        <li>
            <a href="content.php?op=edit&amp;id=<{$related.main_contentid}>" title="<{$smarty.const._AM_PAGE_EDIT}>">
                <{$related.main_name}>
            </a>
        </li>
    </ul>
    <strong><{$smarty.const._AM_PAGE_RELATED_SECONDARY}>:</strong>
    <{$related.secondary}>
</div>
<{/foreach}>
<!--Pop-pup-->
<{/if}>
<!-- Display form (add,edit) -->
<{if $error_message}>
<div class="alert alert-error">
    <strong><{$error_message}></strong>
</div>
<{/if}>
<{$form}>