<h3 class="pull-left"><{$modname}></h3>
<ul class="nav nav-pills pull-right">
    <{foreach item=op from=$mod_options}>
    <li>
        <a class="xo-tooltip" href="<{$op.link}>" title="<strong><{$op.title}></strong><br/><{$op.desc}>">
            <img src='<{$op.icon|default:"$theme_icons/icon_options.png"}>' alt="<{$op.title}>"/>
        </a></li>
    <{/foreach}>
    <{foreach item=plug from=$extension_mod}>
    <{if $plug->getInfo('hasAdmin') || !is_array($plug->getInfo('config'))}>
    <li>
        <a class="xo-tooltip"
           href="<{$xoops_url}>/modules/<{$plug->getInfo('dirname')}>/<{$plug->getInfo('adminindex')}>"
           title="<strong><{$plug->getInfo('name')}></strong><br/><{$plug->getInfo('description')}>">
            <img src="<{$plug->getInfo('logo_large')}>" alt="<{$plug->getInfo('name')}>"/>
        </a>
    </li>
    <{elseif is_array($plug->getInfo('config'))}>
    <li>
        <a class="xo-tooltip"
           href="<{$xoops_url}>/modules/system/admin.php?fct=preferences&amp;op=showmod&amp;mod=<{$plug->getInfo('mid')}>"
           title="<strong><{$plug->getInfo('name')}></strong><br/><{$plug->getInfo('description')}>">
            <img src="<{$plug->getInfo('logo_large')}>" alt="<{$plug->getInfo('name')}>"/>
        </a>
    </li>
    <{/if}>
    <{/foreach}>
    <{if $moddir != 'system' && $mod_options}>
    <li>
        <a class="xo-tooltip"
           href="<{$xoops_url}>/modules/system/admin.php?fct=preferences&amp;op=showmod&amp;mod=<{$modid}>"
           title="<strong><{$smarty.const._MD_AM_SITEPREF}></strong>">
            <img src="<{$theme_icons}>/prefs.png" alt="<{$smarty.const._MD_AM_SITEPREF}>"/>
        </a>
    </li>
    <{/if}>
    <{if $moddir == 'system' && $mod_options}>
    <li>
        <a class="xo-tooltip" href="<{xoAppUrl modules/system/admin.php}>"
           title="<b><{$smarty.const._AM_SYSTEM_CONFIG}></b>">
            <img src='<{"$theme_icons/configuration.png"}>' alt="<{$smarty.const._AM_SYSTEM_CONFIG}>"/>
        </a>
    </li>
    <{/if}>
    <li>
        <a class="xo-tooltip" href="<{xoAppUrl modules/system/help.php}>"
           title="<strong><{$smarty.const._AM_SYSTEM_HELP}></strong>">
            <img src='<{"$theme_icons/help.png"}>' alt="<{$smarty.const._AM_SYSTEM_HELP}>"/>
        </a>
    </li>
</ul>