<div id="xo-menu-modules">
<ul class="nav">
    <li><a href="<{xoAppUrl admin.php}>"><img src="<{xoImgUrl img/logo.png}>" alt="<{$xoops_sitename}>" /></a></li>
    <li><a href="<{xoAppUrl admin.php}>"><b class="ico-monitor"></b>&nbsp;<{$smarty.const._DEFAULT_CPHOME}></a></li>
    <li class="dropdown">
        <a class="dropdown-toggle menu" href="<{xoAppUrl modules/system/admin.php?fct=modulesadmin}>"><b class="ico-box"></b>&nbsp;<{$smarty.const._AM_SYSTEM_MODULES}><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="<{xoAppUrl modules/system/admin.php?fct=modulesadmin}>"><{$smarty.const._DEFAULT_MANAGE}><{$smarty.const._AM_SYSTEM_MODULES}></a></li>
            <li class="divider"></li>
            <{foreach item=mod from=$module_menu}>
            <li>
            <{if $mod->getInfo(options) != 0}>
            <a href="<{$mod->getInfo(link_admin)}>" title="<{$mod->getVar(name)}>"><{$mod->getVar(name)}></a>
            <ul class="dropdown-menu">
                <{foreach item=option from=$mod->getInfo(options)}>
                <li><a href="<{xoAppUrl modules}><{$mod->getInfo(dirname)}>/<{$option.link}>"><{$option.title}></a></li>
                <{/foreach}>
            </ul>
            <{else}>
            <a href="<{$mod->getInfo(link_admin)}>" title="<{$mod->getVar(name)}>"><{$mod->getVar(name)}></a>
            <{/if}>
            </li>
            <{/foreach}>
        </ul>
    </li>
    <li class="dropdown">
        <a class="menu dropdown-toggle" href="<{xoAppUrl modules/system/admin.php?fct=extensions}>"><b class="ico-extension"></b>&nbsp;<{$smarty.const._AM_SYSTEM_EXTENSIONS}><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="<{xoAppUrl modules/system/admin.php?fct=extensions}>"><{$smarty.const._DEFAULT_MANAGE}><{$smarty.const._AM_SYSTEM_EXTENSIONS}></a></li>
            <li class="divider"></li>
            <{foreach item=mod from=$extension_menu}>
            <{if $mod->getInfo(install)}>
            <li>
            <{if $mod->getInfo(options) != 0}>
            <a href="<{$mod->getInfo(link_admin)}>" title="<{$mod->getInfo(name)}>"><{$mod->getInfo(name)}></a>
            <ul class="dropdown-menu">
                <{foreach item=option from=$mod->getInfo(options)}>
                <li><a href="<{xoAppUrl modules}><{$mod->getInfo(dirname)}>/<{$option.link}>"><{$option.title}></a></li>
                <{/foreach}>
            </ul>
            <{else}>
            <a href="<{$mod->getInfo(link_admin)}>" title="<{$mod->getInfo(name)}>"><{$mod->getInfo(name)}></a>
            <{/if}>
            </li>
            <{/if}>
            <{/foreach}>
        </ul>
    </li>
    <li class="dropdown">
        <a class="menu dropdown-toggle" href="<{xoAppUrl modules/system/admin.php?fct=preferences}>"><b class="ico-cog"></b>&nbsp;<{$smarty.const._DEFAULT_SITEPREF}><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <{foreach item=pref from=$module_menu}>
            <{if $pref->getInfo(dirname) == 'system'}>
            <{if $pref->getInfo(link_pref)}>
            <li>
                <a href="<{$pref->getInfo(link_pref)}>" title="<{$pref->getVar(name)}>"><{$pref->getVar(name)}></a>
            </li>
            <{/if}>
            <{/if}>
            <{/foreach}>
            <li class="divider"></li>
            <li>
                <a href="#"><{$smarty.const._AM_SYSTEM_MODULES}></a>
                <ul class="dropdown-menu">
                    <{foreach item=pref from=$module_menu}>
                    <{if $pref->getInfo(dirname) != 'system'}>
                    <{if $pref->getInfo(link_pref)}>
                    <li>
                        <a href="<{$pref->getInfo(link_pref)}>" title="<{$pref->getVar(name)}>"><{$pref->getVar(name)}></a>
                    </li>
                    <{/if}>
                    <{/if}>
                    <{/foreach}>
                </ul>
            </li>
            <li>
                <a href="#"><{$smarty.const._AM_SYSTEM_EXTENSIONS}></a>
                <ul class="dropdown-menu">
                    <{foreach item=prefextension from=$extension_menu}>
                    <{if $prefextension->getInfo(link_pref)}>
                    <li>
                        <a href="<{$prefextension->getInfo(link_pref)}>" title="<{$prefextension->getInfo(name)}>"><{$prefextension->getInfo(name)}></a>
                    </li>
                    <{/if}>
                    <{/foreach}>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<ul class="nav pull-right">
    <li class="divider-vertical"></li>
    <li class="dropdown">
        <a class="menu dropdown-toggle" href="#"><b class="ico-lightning"></b>&nbsp;<{$smarty.const._DEFAULT_QUICK}><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <{foreach item=quick from=$quick_menu}>
            <{if $quick.title == 'separator'}>
            <li class="divider"></li>
            <{else}>
            <li><a href="<{$quick.link}>"><{$quick.title}></a></li>
            <{/if}>
            <{/foreach}>
        </ul>
    </li>
</ul>
</div>