<script type="text/javascript">
    Xoops.setStatusImg('accept', '<{xoAdminIcons success.png}>');
    Xoops.setStatusImg('cancel', '<{xoAdminIcons cancel.png}>');
    Xoops.setStatusText('accept', '<{$smarty.const._AM_USERRANK_OFF}>');
    Xoops.setStatusText('cancel', '<{$smarty.const._AM_USERRANK_ON}>');
</script>
<{includeq file="admin:system|admin_navigation.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<{includeq file="admin:system|admin_buttons.html"}>
<{if $userrank_count == true}>
<!--User rank-->
<table id="xo-rank-sorter" cellspacing="1" class="outer tablesorter">
    <thead>
    <tr>
        <th class="txtcenter"><{$smarty.const._AM_USERRANK_IMAGE}></th>
        <th class="txtcenter"><{$smarty.const._AM_USERRANK_TITLE}></th>
        <th class="txtcenter"><{$smarty.const._AM_USERRANK_MINPOST}></th>
        <th class="txtcenter"><{$smarty.const._AM_USERRANK_MAXPOST}></th>
        <th class="txtcenter"><{$smarty.const._AM_USERRANK_SPECIAL}></th>
        <th class="txtcenter width10"><{$smarty.const._AM_USERRANK_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=userrank from=$userrank}>
    <tr class="<{cycle values='even,odd'}> alignmiddle">
        <td class="txtcenter"><{$userrank.rank_image}></td>
        <td class="txtcenter"><{$userrank.rank_title}></td>
        <td class="txtcenter"><{$userrank.rank_min}></td>
        <td class="txtcenter"><{$userrank.rank_max}></td>
        <td class="xo-actions txtcenter">
            <img id="loading_sml<{$userrank.rank_id}>" src="<{xoAppUrl media/xoops/images/spinner.gif}>" style="display:none;" alt="<{$smarty.const._AM_SYSTEM_LOADING}>" />
            <img class="cursorpointer xo-tooltip" id="sml<{$userrank.rank_id}>" onclick="Xoops.changeStatus( 'userrank.php', { op: 'userrank_update_special', rank_id: <{$userrank.rank_id}> }, 'sml<{$userrank.rank_id}>' )" src="<{if $userrank.rank_special}><{xoAdminIcons success.png}><{else}><{xoAdminIcons cancel.png}><{/if}>" alt="<{if $userrank.rank_special}><{$smarty.const._AM_USERRANK_OFF}><{else}><{$smarty.const._AM_USERRANK_ON}><{/if}>" title="<{if $userrank.rank_special}><{$smarty.const._AM_USERRANK_OFF}><{else}><{$smarty.const._AM_USERRANK_ON}><{/if}>" />
        </td>
        <td class="xo-actions txtcenter">
            <a class="xo-tooltip" href="./userrank.php?op=userrank_edit&amp;rank_id=<{$userrank.rank_id}>" title="<{$smarty.const._AM_USERRANK_EDIT}>">
                <img src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._AM_USERRANK_EDIT}>" />
            </a>
            <a class="xo-tooltip" href="./userrank.php?op=userrank_delete&amp;rank_id=<{$userrank.rank_id}>" title="<{$smarty.const._AM_USERRANK_DELETE}>">
                <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._AM_USERRANK_DELETE}>" />
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<!-- Display rank navigation -->
<div class="clear spacer"></div>
<{if $nav_menu}>
<div class="xo-avatar-pagenav floatright"><{$nav_menu}></div>
<div class="clear spacer"></div>
<{/if}>
<{/if}>
<!--Display rank form (add,edit)-->
<{$form}>

