<script type="text/javascript">
<!--//
function doSmilie(addSmilie) {
    var textareaDom = window.opener.xoopsGetElementById("<{$target}>");
    xoopsInsertText(textareaDom, addSmilie);
    textareaDom.focus();
    window.close();
    return;
}
//-->
</script>
</head>
<body>
    <div class="txtcenter">
        <h2><{$smarty.const._MSC_SMILIES}></h2>
        <h4><{$smarty.const._MSC_CLICKASMILIE}></h4>
    </div>

    <table width="100%" class="outer">
        <tr class="head">
            <td><{$smarty.const._MSC_CODE}></td>
            <td><{$smarty.const._MSC_EMOTION}></td>
            <td><{$smarty.const._IMAGE}></td>
        </tr>

        <{foreachq from=$smileys item=smile}>
            <tr class="<{cycle values='even,odd'}>">
                <td><{$smile.smiley_code}></td>
                <td><{$smile.smiley_emotion}></td>
                <td>
                    <img onmouseover="style.cursor='pointer'" onclick="javascript:doSmilie('<{$smile.smiley_code}>');" src='<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$smile.smiley_url}>' alt='<{$smile.smiley_emotion}>' />
                </td>
            </tr>
        <{/foreach}>

    </table>

    <{if $closebutton}>
        <br />
        <div class="txtcenter">
            <input class="btn btn-primary" value="<{$smarty.const._CLOSE}>" type="button" onclick="javascript:window.close();" />
        </div>
    <{/if}>
