<{if $xo_admin_tips}>
<div class="well tips">
    <a class="close" href="#">×</a>
    <img class="floatleft xo-tooltip" src="<{xoAdminIcons tips.png}>" alt="<{$smarty.const._AM_SYSTEM_TIPS}>" title="<{$smarty.const._AM_SYSTEM_TIPS}>" />
    <div class="floatleft"><{$xo_admin_tips}></div>
    <div class="clear">&nbsp;</div>
</div>
<{/if}>