<table class="table table-striped table-condensed">
    <tbody>
<{foreach item=module from=$modules_list}>
    <tr>
        <td class="span1">
            <a class="xo-tooltip" href="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->getInfo('adminindex')}>" title="<{$module->getInfo('description')}>">
                <img src="<{$module->getInfo('logo_small')}>" alt="" />
            </a>
        </td>
        <td class="span4">
            <span class="name xo-tooltip" title="<{$smarty.const._AM_SYSTEM_MODULES_EDIT}>"><span id="<{$module->getVar('mid')}>" class="rename"><{$module->getVar('name')}></span></span>
        </td>
        <td class="span2">
        <span class="version bold"><span class="ico-application"></span>&nbsp;<{$module->getInfo('version')}></span>
        </td>
        <td class="span2">
            <span class="date txtcenter"><span class="ico-date"></span>&nbsp;<{$module->getInfo('update')}></span>
        </td>
        <td>
        <span class="span4 author"><span class="ico-user-5"></span>&nbsp;<{$module->getInfo('author')}></span>
        </td>
        <td class="span3">
        <span class="options txtright">
            <{if $module->getInfo('can_disable')}>
            <a id="active-table-<{$module->getVar('mid')}>" class="xo-tooltip" href="javascript:;" onclick="module_Disable(<{$module->getVar('mid')}>,'','');" title="<{if $module->getVar('isactive')}><{$smarty.const._AM_SYSTEM_MODULES_ENABLE}><{else}><{$smarty.const._AM_SYSTEM_MODULES_DISABLE}><{/if}>"><span id="active-icon-<{$module->getVar('mid')}>" class="<{if $module->getVar('isactive')}>ico-tick<{else}>ico-cross<{/if}>"></span></a>
            <{/if}>
            <a class="xo-tooltip" href="javascript:" onclick="module_Update(<{$module->getVar('mid')}>)" title="<{$smarty.const._AM_SYSTEM_MODULES_UPDATE}>"><span class="ico-arrow-refresh-small"></span></a>
            <{if $module->getInfo('can_delete')}>
            <a class="xo-tooltip" href="javascript:" onclick="module_Uninstall(<{$module->getVar('mid')}>)" title="<{$smarty.const._AM_SYSTEM_MODULES_UNINSTALL}>"><span class="ico-application-delete"></span></a>
            <{/if}>
        </span>
        </td>
    </tr>
<{/foreach}>
    </tbody>
</table>