<{foreach item=module from=$modules_list}>
<div id="mid-<{$module->getVar('mid')}>" class="xo-module rounded<{if $module->getVar('dirname') == 'system'}> system<{/if}>">
    <div class="module_card">
        <div class="module_image">
            <a class="rounded xo-tooltip" style="background: url('<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->getInfo('image')}>')  no-repeat scroll center center transparent;" href="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->getInfo('adminindex')}>" title="<{$smarty.const._AM_SYSTEM_MODULES_BTOMADMIN}> <{$module->getVar('name')}>">
                <span class="rounded">&nbsp;</span>
            </a>
        </div>
        <div class="module_data">
            <div id="<{$module->getVar('mid')}>" class="name rename xo-tooltip" title="<{$smarty.const._AM_SYSTEM_MODULES_EDIT}>"><{$module->getVar('name')}></div>
            <div class="data">
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_VERSION}></span>&nbsp;<{$module->getInfo('version')}></div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_LASTUP}></span>&nbsp;<{$module->getInfo('update')}></div>
            </div>
        </div>
    </div>
    <div class="module_options">
        <a class="xo-tooltip" href="javascript:" onclick="module_Detail(<{$module->getVar('mid')}>);" title="<{$smarty.const._AM_SYSTEM_MODULES_DETAIL}>"><span class="ico-magnifier"></span><{$smarty.const._AM_SYSTEM_MODULES_DETAIL}></a>
        <{if $module->getInfo('can_disable')}>
        <a class="xo-tooltip" id="active-<{$module->getVar('mid')}>" href="javascript:;" onclick="module_Disable(<{$module->getVar('mid')}>,'<{$smarty.const._AM_SYSTEM_MODULES_ENABLE}>','<{$smarty.const._AM_SYSTEM_MODULES_DISABLE}>');" title="<{$smarty.const._AM_SYSTEM_MODULES_STATUS}> <{$module->getVar('name')}>"><span id="active-icon-<{$module->getVar('mid')}>" class="<{if $module->getVar('isactive')}>ico-tick<{else}>ico-cross<{/if}>"></span><{if $module->getVar('isactive')}><{$smarty.const._AM_SYSTEM_MODULES_ENABLE}><{else}><{$smarty.const._AM_SYSTEM_MODULES_DISABLE}><{/if}></a>
        <{/if}>
        <a class="xo-tooltip" href="javascript:" onclick="module_Update(<{$module->getVar('mid')}>)" title="<{$smarty.const._AM_SYSTEM_MODULES_UPDATE}> <{$module->getVar('name')}>"><span class="ico-arrow-refresh-small"></span><{$smarty.const._AM_SYSTEM_MODULES_UPDATE}></a>
    </div>
</div>
<div id="detail-<{$module->getVar('mid')}>" class="xo-detail xo-module rounded hide <{if $module->getVar('dirname') == 'system'}> system<{/if}>" style="z-index: 20; float: none;">
    <div class="module_card">
        <div class="module_image">
            <a class="rounded" style="background: url('<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->getInfo('image')}>')  no-repeat scroll center center transparent;" href="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->getInfo('adminindex')}>" title="<{$module->getVar('name')}>">
                <span class="rounded">&nbsp;</span>
            </a>
        </div>
        <div class="module_data">
            <div class="name"><a href="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->getInfo('adminindex')}>"><{$module->getVar('name')}></a></div>
            <div class="data">
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_VERSION}></span>&nbsp;<{$module->getInfo('version')}></div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_LASTUP}></span>&nbsp;<{$module->getInfo('update')}></div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_AUTHOR}></span>&nbsp;<{$module->getInfo('author')}></div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_WEB}></span>&nbsp;<a href="<{$module->getInfo('module_website_url')}>" rel="external"><{$module->getInfo('module_website_name')}></a></div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_LICENSE}></span>&nbsp;<{$module->getInfo('license')}></div>
            </div>
        </div>
    </div>
    <div class="module_detail">
        <{$module->getInfo('description')}>
    </div>
    <div class="module_options">
        <a class="xo-tooltip" href="javascript:" onclick="$('#detail-<{$module->getVar('mid')}>').slideUp(500);" title="<{$smarty.const._AM_SYSTEM_MODULES_CLOSE}>"><span class="ico-door"></span><{$smarty.const._AM_SYSTEM_MODULES_CLOSE}></a>
        <{if $module->getInfo('can_delete')}>
        <a class="xo-tooltip red" href="javascript:" onclick="$('#detail-<{$module->getVar('mid')}>').slideUp(500);module_Uninstall(<{$module->getVar('mid')}>)" title="<{$smarty.const._AM_SYSTEM_MODULES_UNINSTALL}> <{$module->getVar('name')}>"><span class="ico-application-delete"></span><{$smarty.const._AM_SYSTEM_MODULES_UNINSTALL}></a>
        <{/if}>
    </div>
</div>
<div id="data-<{$module->getVar('mid')}>" class="hide">
    <div class="module_card">
        <div class="module_image">
            <a class="rounded xo-tooltip" style="background: url('<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->getInfo('image')}>')  no-repeat scroll center center transparent;" title="<{$module->getVar('name')}>">
                <span class="rounded">&nbsp;</span>
            </a>
        </div>
        <div class="module_data">
            <div class="name"><{$module->getVar('name')}></div>
            <div class="data">
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_VERSION}></span> <{$module->getInfo('version')}></div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_MODULES_LASTUP}></span> <{$module->getInfo('update')}></div>
            </div>
        </div>
        <div class="module_detail">
            <{$module->getInfo('description')}>
        </div>
    </div>
</div>
<{/foreach}>