<{includeq file="admin:system|admin_breadcrumb.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<div class="btn-group pull-left">
    <a class="btn xo-tooltip card-view <{if $view_line == 'hide'}>disabled<{/if}>" href="#" title="<{$smarty.const._AM_SYSTEM_MODULES_VIEWLARGE}>"><b class="ico-application-view-tile"></b></a>
    <a class="btn xo-tooltip table-view <{if $view_large == 'hide'}>disabled<{/if}>" href="#" title="<{$smarty.const._AM_SYSTEM_MODULES_VIEWLINE}>"><b class="ico-application-view-list"></b></a>
</div>
<div class="pull-right">
    <a class="btn btn-primary xo-tooltip" href="admin.php?fct=blocksadmin&amp;op=edit&amp;bid=5" title="<{$smarty.const._AM_SYSTEM_MODULES_MENU}>">
        <span class="ico-layout-sidebar"></span>
        <{$smarty.const._AM_SYSTEM_MODULES_MENU}>
    </a>
</div>
<div class="clear spacer"></div>
<div class="xo-module-installed outer">
    <div class="xo-window xo-module-list">
        <div class="xo-window-title">
            <span class="ico-brick xo-tooltip" title="<{$smarty.const._AM_SYSTEM_MODULES_LIST}>"></span>&nbsp;<{$smarty.const._AM_SYSTEM_MODULES_LIST}>
        </div>
        <div class="xo-window-data">
            <div class="xo-content-card <{$view_large}>"><{includeq file="admin:system|system_modules_card.html"}></div>
            <div class="xo-content-table <{$view_line}>"><{includeq file="admin:system|system_modules_table.html"}></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="xo-module-install outer">
    <div class="xo-window xo-module-list">
        <div class="xo-window-title">
            <span class="ico-box xo-tooltip" title="<{$smarty.const._AM_SYSTEM_MODULES_AVAILABLE}>"></span>&nbsp;<{$smarty.const._AM_SYSTEM_MODULES_AVAILABLE}>
        </div>
        <div class="xo-window-data">
            <{includeq file="admin:system|system_modules_available.html"}>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>

<!-- Modules messages definition -->
<div class="modal-backdrop hide"></div>
<div id="install" class="modal hide">
    <div class="modal-header">
        <a class="close" href="#" onclick="$('.modal-backdrop').click();">x</a>
        <h3><span class="ico-application-go"></span>&nbsp;<{$smarty.const._AM_SYSTEM_MODULES_MSG_INSTALL}></h3>
    </div>
    <div class="modal-body">
        <p class="modal-data"></p>
    </div>
    <div class="modal-footer">
        <form id="install-form" method="post" action="admin.php">
            <a class="btn" href="javascript:" onclick="$('.modal-backdrop').click();">
                <span class="ico-cross"></span>
                <{$smarty.const._CANCEL}>
            </a>
            <a class="btn btn-primary" href="javascript:;" onclick="$('#install-form').submit()">
                <span class="ico-application-go"></span>
                <{$smarty.const._AM_SYSTEM_MODULES_INSTALL}>
            </a>
            <{php}>echo Xoops::getInstance()->security()->getTokenHTML();<{/php}>
            <input type="hidden" name="fct" value="modulesadmin" />
            <input type="hidden" name="op" value="install" />
            <input id="install-dir" type="hidden" name="dirname" value="" />
        </form>
    </div>
</div>

<div id="update" class="modal hide">
    <div class="modal-header">
        <a class="close" href="#" onclick="$('.modal-backdrop').click();">x</a>
        <h3><span class="ico-arrow-refresh-small"></span>&nbsp;<{$smarty.const._AM_SYSTEM_MODULES_MSG_UPDATE}></h3>
    </div>
    <div class="modal-body">
        <p class="modal-data"></p>
    </div>
    <div class="modal-footer">
        <form id="update-form" method="post" action="admin.php">
            <a class="btn" href="javascript:" onclick="$('.modal-backdrop').click();">
                <span class="ico-cross"></span>
                <{$smarty.const._CANCEL}>
            </a>
            <a class="btn btn-primary" href="javascript:;" onclick="$('#update-form').submit()">
                <span class="ico-arrow-refresh-small"></span>
                <{$smarty.const._AM_SYSTEM_MODULES_UPDATE}>
            </a>
            <{php}>echo Xoops::getInstance()->security()->getTokenHTML();<{/php}>
            <input type="hidden" name="fct" value="modulesadmin" />
            <input type="hidden" name="op" value="update" />
            <input id="update-id" type="hidden" name="mid" value="" />
        </form>
    </div>
</div>

<div id="uninstall" class="modal hide">
    <div class="modal-header">
        <a class="close" href="#" onclick="$('.modal-backdrop').click();">x</a>
        <h3><span class="ico-application-delete"></span>&nbsp;<{$smarty.const._AM_SYSTEM_MODULES_MSG_UNINSTALL}></h3>
    </div>
    <div class="modal-body">
        <p class="modal-data"></p>
    </div>
    <div class="modal-footer">
        <form id="delete-form" method="post" action="admin.php">
            <a class="btn" href="javascript:" onclick="$('.modal-backdrop').click();">
                <span class="ico-cross"></span>
                <{$smarty.const._CANCEL}>
            </a>
            <a class="btn btn-danger" href="javascript:;" onclick="$('#delete-form').submit()">
                <span class="ico-application-delete"></span>
                <{$smarty.const._AM_SYSTEM_MODULES_UNINSTALL}>
            </a>
            <{php}>echo Xoops::getInstance()->security()->getTokenHTML();<{/php}>
            <input type="hidden" name="fct" value="modulesadmin" />
            <input type="hidden" name="op" value="uninstall" />
            <input id="uninstall-id" type="hidden" name="mid" value="" />
        </form>
    </div>
</div>