<{includeq file="admin:system|admin_breadcrumb.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<table class="outer">
    <thead>
    <tr>
        <th>#</th>
        <th><{$smarty.const._AM_SYSTEM_EXTENSIONS_NAME}></th>
        <th><{$smarty.const._AM_SYSTEM_EXTENSIONS_VERSION}></th>
        <th><{$smarty.const._AM_SYSTEM_EXTENSIONS_DETAIL}></th>
        <th><{$smarty.const._AM_SYSTEM_EXTENSIONS_ACTIONS}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=extension from=$extension_list}>
    <tr>
        <td class="span1">
            <{if $extension->getInfo('install')}>
            <a href="<{$xoops_url}>/modules/<{$extension->getInfo('dirname')}>/<{$extension->getInfo('adminindex')}>">
                <img class="xo-tooltip" src="<{$extension->getInfo('logo_small')}>"
                     alt="<{$extension->getInfo('name')}>" title="<{$extension->getInfo('name')}>"/>
            </a>
            <{else}>
            <img class="xo-tooltip" src="<{$extension->getInfo('logo_small')}>" alt="<{$extension->getInfo('name')}>"
                 title="<{$extension->getInfo('name')}>"/>
            <{/if}>
        </td>
        <td class="span4">
            <{if $extension->getInfo('install')}>
            <a href="<{$xoops_url}>/modules/<{$extension->getInfo('dirname')}>/<{$extension->getInfo('adminindex')}>">
                <strong><{$extension->getInfo('name')}></strong>
            </a>
            <{else}>
            <{$extension->getInfo('name')}>
            <{/if}>
        </td>
        <td class="span2">
            <{$extension->getInfo('version')}>
        </td>
        <td>
            <ul class="xo-extension-detail">
                <li><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_AUTHOR}></span>&nbsp;<{$extension->getInfo('author')}><{if $extension->getInfo('nickname')}> - (<{$extension->getInfo('nickname')}>)<{/if}>
                </li>
                <li class="hide detail-<{$extension->getInfo(dirname)}>"><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_LICENSE}></span>&nbsp;<{$extension->getInfo('license')}>
                </li>
                <li class="hide detail-<{$extension->getInfo(dirname)}>"><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_DESCRIPTION}></span>&nbsp;<{$extension->getInfo(description)}>
                </li>
            </ul>
        </td>
        <td class="span4">
            <a class="xo-tooltip" href="javascript:"
               onclick="$('li.detail-<{$extension->getInfo(dirname)}>').toggle('slow');"
               title="<{$smarty.const._AM_SYSTEM_EXTENSIONS_DETAIL}>"><span class="ico-magnifier"></span></a>
            <{if $extension->getInfo('install')}>
            <a class="xo-tooltip" href="javascript:" onclick="module_Update(<{$extension->getInfo(mid)}>)"
               title="<{$smarty.const._AM_SYSTEM_EXTENSIONS_UPDATE}>"><span class="ico-arrow-refresh-small"></span></a>

            <{if $extension->getInfo('hasconfig')}>
                <a class="xo-tooltip" href="admin.php?fct=preferences&mod=<{$extension->getInfo('mid')}>" title="<{$smarty.const._AM_SYSTEM_EXTENSIONS_SETTINGS}>">
                    <span class="ico-application-form-edit"></span></a>
            <{/if}>

            <a class="xo-tooltip" href="javascript:" onclick="module_Uninstall(<{$extension->getInfo(mid)}>)"
               title="<{$smarty.const._AM_SYSTEM_EXTENSIONS_UNINSTALL}>"><span
                    class="ico-application-delete"></span></a>
            <{else}>
            <a class="xo-tooltip" href="javascript:" onclick="module_Install('<{$extension->getInfo(dirname)}>')"
               title="<{$smarty.const._AM_SYSTEM_EXTENSIONS_INSTALL}> <{$extension->getInfo(name)}>"><span
                    class="ico-application-go"></span></a>
            <{/if}>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<{foreach item=extension from=$extension_list}>
<div id="data-<{$extension->getInfo('mid')}>" class="hide">
    <div class="module_card">
        <div class="module_image">
            <a class="rounded xo-tooltip"
               style="background: url('<{$xoops_url}>/modules/<{$extension->getInfo(dirname)}>/<{$extension->getInfo(image)}>')  no-repeat scroll center center transparent;"
               title="<{$extension->getVar('name')}>">
                <span class="rounded">&nbsp;</span>
            </a>
        </div>
        <div class="module_data">
            <div class="name"><{$extension->getInfo('name')}></div>
            <div class="data">
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_VERSION2}></span>
                    <{$extension->getInfo('version')}>
                </div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_LASTUP}></span>
                    <{$extension->getInfo('update')}>
                </div>
            </div>
        </div>
        <div class="module_detail">
            <{$extension->getInfo('description')}>
        </div>
    </div>
</div>
<div id="data-<{$extension->getInfo(dirname)}>" class="hide">
    <div class="module_card">
        <div class="module_image">
            <a class="rounded xo-tooltip"
               style="background: url('<{$xoops_url}>/modules/<{$extension->getInfo(dirname)}>/<{$extension->getInfo(image)}>')  no-repeat scroll center center transparent;"
               title="<{$extension->getInfo(name)}>">
                <span class="rounded">&nbsp;</span>
            </a>
        </div>
        <div class="module_data">
            <div class="name"><{$extension->getInfo(name)}></div>
            <div class="data">
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_VERSION2}></span>&nbsp;<{$extension->getInfo(version)}>
                </div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_AUTHOR}></span>&nbsp;<{$extension->getInfo(author)}>
                </div>
                <div><span class="bold"><{$smarty.const._AM_SYSTEM_EXTENSIONS_LICENSE}></span>&nbsp;<{$extension->getInfo(license)}>
                </div>
            </div>
        </div>
        <div class="module_detail">
            <{$extension->getInfo(description)}>
        </div>
    </div>
</div>
<{/foreach}>

<!-- Modules messages definition -->
<div class="modal-backdrop hide"></div>
<div id="install" class="modal hide">
    <div class="modal-header">
        <a class="close" href="#" onclick="$('.modal-backdrop').click();">x</a>

        <h3><span class="ico-application-go"></span>&nbsp;<{$smarty.const._AM_SYSTEM_EXTENSIONS_MSG_INSTALL}></h3>
    </div>
    <div class="modal-body">
        <p class="modal-data"></p>
    </div>
    <div class="modal-footer">
        <form id="install-form" method="post" action="admin.php">
            <a class="btn" href="javascript:" onclick="$('.modal-backdrop').click();">
                <span class="ico-cross"></span>
                <{$smarty.const._CANCEL}>
            </a>
            <a class="btn btn-primary" href="javascript:;" onclick="$('#install-form').submit()">
                <span class="ico-application-go"></span>
                <{$smarty.const._AM_SYSTEM_EXTENSIONS_INSTALL}>
            </a>
            <{php}>echo Xoops::getInstance()->security()->getTokenHTML();<{/php}>
            <input type="hidden" name="fct" value="extensions"/>
            <input type="hidden" name="op" value="install"/>
            <input id="install-dir" type="hidden" name="dirname" value=""/>
        </form>
    </div>
</div>

<div id="update" class="modal hide">
    <div class="modal-header">
        <a class="close" href="#" onclick="$('.modal-backdrop').click();">x</a>

        <h3><span class="ico-arrow-refresh-small"></span>&nbsp;<{$smarty.const._AM_SYSTEM_EXTENSIONS_MSG_UPDATE}></h3>
    </div>
    <div class="modal-body">
        <p class="modal-data"></p>
    </div>
    <div class="modal-footer">
        <form id="update-form" method="post" action="admin.php">
            <a class="btn" href="javascript:" onclick="$('.modal-backdrop').click();">
                <span class="ico-cross"></span>
                <{$smarty.const._CANCEL}>
            </a>
            <a class="btn btn-primary" href="javascript:;" onclick="$('#update-form').submit()">
                <span class="ico-arrow-refresh-small"></span>
                <{$smarty.const._AM_SYSTEM_EXTENSIONS_UPDATE}>
            </a>
            <{php}>echo Xoops::getInstance()->security()->getTokenHTML();<{/php}>
            <input type="hidden" name="fct" value="extensions"/>
            <input type="hidden" name="op" value="update"/>
            <input id="update-id" type="hidden" name="mid" value=""/>
        </form>
    </div>
</div>

<div id="uninstall" class="modal hide">
    <div class="modal-header">
        <a class="close" href="#" onclick="$('.modal-backdrop').click();">x</a>

        <h3><span class="ico-application-delete"></span>&nbsp;<{$smarty.const._AM_SYSTEM_EXTENSIONS_MSG_UNINSTALL}></h3>
    </div>
    <div class="modal-body">
        <p class="modal-data"></p>
    </div>
    <div class="modal-footer">
        <form id="delete-form" method="post" action="admin.php">
            <a class="btn" href="javascript:" onclick="$('.modal-backdrop').click();">
                <span class="ico-cross"></span>
                <{$smarty.const._CANCEL}>
            </a>
            <a class="btn btn-danger" href="javascript:;" onclick="$('#delete-form').submit()">
                <span class="ico-application-delete"></span>
                <{$smarty.const._AM_SYSTEM_EXTENSIONS_UNINSTALL}>
            </a>
            <{php}>echo Xoops::getInstance()->security()->getTokenHTML();<{/php}>
            <input type="hidden" name="fct" value="extensions"/>
            <input type="hidden" name="op" value="uninstall"/>
            <input id="uninstall-id" type="hidden" name="mid" value=""/>
        </form>
    </div>
</div>