<{includeq file="admin:system|admin_breadcrumb.html"}>
<{includeq file="admin:system|admin_tips.html"}>

<!--Preferences-->
<{if $menu}>
<div class="xo-catsetting">
    <{foreach item=preferences from=$preferences}>
    <a class="xo-tooltip" href="admin.php?fct=preferences&amp;op=show&amp;confcat_id=<{$preferences.id}>" title="<{$preferences.name}>">
        <img src="<{$preferences.image}>" alt="<{$preferences.name}>" />
        <span><{$preferences.name}></span>
    </a>
    <{/foreach}>
    <a class="xo-tooltip" href="admin.php?fct=preferences&amp;op=showmod&amp;mod=1" title="<{$smarty.const._AM_SYSTEM_PREFERENCES_SETTINGS}>">
        <img src="<{xoAdminIcons xoops/system_mods.png}>" alt="<{$smarty.const._AM_SYSTEM_PREFERENCES_SETTINGS}>" />
        <span><{$smarty.const._AM_SYSTEM_PREFERENCES_SETTINGS}></span>
    </a>
</div>
<{/if}>
<div class="clear">&nbsp;</div>
<{$form}>