<script type="text/javascript">
    Xoops.setStatusImg('accept', '<{xoAdminIcons success.png}>');
    Xoops.setStatusImg('cancel', '<{xoAdminIcons cancel.png}>');
    Xoops.setStatusText('accept', '<{$smarty.const._NO}>');
    Xoops.setStatusText('cancel', '<{$smarty.const._YES}>');
</script>
<{includeq file="admin:system|admin_navigation.html"}>
<{includeq file="admin:system|admin_buttons.html"}>
<{if $step}>
<table class="outer">
    <thead>
        <tr>
            <th><{$smarty.const._PROFILE_AM_STEPNAME}></th>
            <th class="txtleft"><{$smarty.const._PROFILE_AM_DESCRIPTION}></th>
            <th><{$smarty.const._PROFILE_AM_STEPORDER}></th>
            <th><{$smarty.const._PROFILE_AM_STEPSAVE}></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <{foreach item=step from=$steps}>
        <tr class="<{cycle values='odd, even'}>">
            <td class="txtcenter width20"><{$step.step_name}></td>
            <td class="txtleft"><{$step.step_desc}></td>
            <td class="txtcenter width10"><{$step.step_order}></td>
            <td class="xo-actions txtcenter width10">
                <img id="loading_sml<{$step.step_id}>" src="<{xoAppUrl media/xoops/images/spinner.gif}>" style="display:none;" alt="<{$smarty.const._AM_SYSTEM_LOADING}>" />
                <img class="cursorpointer" id="sml<{$step.step_id}>" onclick="Xoops.changeStatus( 'step.php', { op: 'step_update', id: <{$step.step_id}> }, 'sml<{$step.step_id}>', 'step.php' )" src="<{if $step.step_save}><{xoAdminIcons success.png}><{else}><{xoAdminIcons cancel.png}><{/if}>" alt="<{if $step.step_save}><{$smarty.const._NO}><{else}><{$smarty.const._YES}><{/if}>" title="<{if $step.step_save}><{$smarty.const._NO}><{else}><{$smarty.const._YES}><{/if}>" />
            </td>
            <td class="xo-actions txtcenter width5">
                <a href="step.php?op=edit&amp;id=<{$step.step_id}>" title="<{$smarty.const._EDIT}>">
                    <img src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._EDIT}>">
                </a>
                <a href="step.php?op=delete&amp;id=<{$step.step_id}>" title="<{$smarty.const._DELETE}>">
                    <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._DELETE}>">
                </a>
            </td>
        </tr>
    <{/foreach}>
    </tbody>
</table>
<{/if}>
<!-- Display form (add,edit) -->
<{$form}>