<script type='text/javascript' language='javascript'>
<!--//
function myimage_onclick(counter)
{
    window.opener.xoopsGetElementById("user_avatar").options[counter].selected = true;
    showAvatar();
    window.opener.xoopsGetElementById("user_avatar").focus();
    window.close();
}
function showAvatar()
{
    window.opener.xoopsGetElementById("avatar").src = '<{$smarty.const.XOOPS_UPLOAD_URL}>/' + window.opener.xoopsGetElementById("user_avatar").options[window.opener.xoopsGetElementById("user_avatar").selectedIndex].value;
}
//-->
</script>
</head>
<body>
    <div class="txtcenter">
        <h2><{$smarty.const._MSC_AVAVATARS}></h2>
    </div>
    <{foreachq from=$avatars item=avatar name=foo}>
        <div class="floatleft txtcenter <{cycle values='even,odd'}>">
            <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$avatar.avatar_file}>" alt="<{$avatar.avatar_name}>" style="padding:10px; vertical-align:top;"  /><br /><{$avatar.avatar_name}><br /><input name="myimage" type="button" value="<{$smarty.const._SELECT}>" onclick="myimage_onclick('<{$smarty.foreach.foo.iteration}>')" />
        </div>
    <{/foreach}>
    <div class="clear"></div>

    <{if $closebutton}>
        <br />
        <div class="txtcenter">
            <input class="btn btn-primary" value="<{$smarty.const._CLOSE}>" type="button" onclick="javascript:window.close();" />
        </div>
    <{/if}>