<script>
$(function(){
    $('.star_rating').rating({
    callback: function(value, link){
        //if (confirm("The value selected was '" + value + "'\n <{$title}>")) {
            this.form.submit();
        //}
    }
    });
});
</script>
<{if $content_doheader}>
<div class="page_header">
    &nbsp;
    <{if $content_dotitle}>
    <div class="page_headerleft">
        <{$content_title}>
    </div>
    <{/if}>
    <{if $content_dorating}>
    <div class="page_headerright">
        <{$rating_form}>
    </div>
    <{/if}>
</div>
<{if $content_dorating}>
<div class="page_vote">
    <{$smarty.const._MD_PAGE_VIEWPAGE_RATING}>:&nbsp;<{$content_rating}>&nbsp;(<{$content_votes}>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_VOTE}>)
</div>
<{/if}>
<{/if}>
<div class="page_content">
    <{if $summary}>
    <h4><{$smarty.const._MD_PAGE_VIEWPAGE_SUMMARY}>:</h4>
    <div>
        <ul>
        <{foreach item=summary from=$summary}>
            <li><{$summary}></li>
        <{/foreach}>
        </ul>
    </div>
    <{/if}>
    <{$content_shorttext}>
    <br />
    <{$content_text}>
    <{if $navigation}>
    <div class="clear"></div>
        <{includeq file="module:page|page_navigation.html"}>
    <div class="clear"></div>
    <{/if}>

    <div class="right">
        <{if $content_doprint}>
        <a href="<{$xoops_url}>/modules/page/print.php?id=<{$content_id}>" title="<{$smarty.const._MD_PAGE_VIEWPAGE_PRINT}>"><img src="<{xoAppUrl media/xoops/images/icons/16/printer.png}>" alt="<{$smarty.const._MD_PAGE_VIEWPAGE_PRINT}>" /></a>
        <{/if}>
        <{if $content_dopdf}>
        <a href="<{$xoops_url}>/modules/page/pdf.php?id=<{$content_id}>" title="<{$smarty.const._MD_PAGE_VIEWPAGE_PDF}>"><img src="<{xoAppUrl media/xoops/images/icons/16/pdf.png}>" alt="<{$smarty.const._MD_PAGE_VIEWPAGE_PDF}>" /></a>
        <{/if}>
    </div>
</div>
<{if $content_dofooter}>
<div class="page_footer">
    &nbsp;
    <div class="page_footerleft">
        <{if $content_doauthor}><{$smarty.const._MD_PAGE_VIEWPAGE_POSTEDBY}>&nbsp;<a href="<{$xoops_url}>/userinfo.php?uid=<{$content_authorid}>"><{$content_author}></a>&nbsp;<{/if}><{if $content_dodate}><{$smarty.const._MD_PAGE_VIEWPAGE_ON}>&nbsp;<{$content_date}>&nbsp;<{$content_time}>&nbsp;<{/if}><{if $content_dohits}><{$content_hits}><{/if}>
    </div>
    <{if $content_doncoms}>
    <div class="page_footerright">
        <img src="<{$xoops_url}>/modules/page/images/comments.png" alt="<{$content_comments}>"/>&nbsp;(<{$content_comments}>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_COMMENTS}>)
    </div>
    <{/if}>
</div>
<{/if}>
<{if $content_dosocial}>
<{includeq file='module:xoosocialnetwork|xoosocialnetwork.html'}>
<{/if}>
<{if $content_docoms == 1}>
<{include file='module:comments|comments.html'}>
<{/if}>
<{if $content_donotifications}>
<{include file='module:notifications|select.html'}>
<{/if}>