<{if $error_message}>
<div class="alert alert-error">
    <strong><{$error_message}></strong>
</div>
<{/if}>
<{if $content_count == true}>
<{foreach item=content from=$content}>
<div class="page_indexheader">
    &nbsp;
    <div class="page_headerleft">
        <{$content.title}>
    </div>
</div>
<div class="page_indexcontent">
    <{$content.shorttext}>
    <div class="page_more">
        <a href="<{$xoops_url}>/modules/page/viewpage.php?id=<{$content.id}>" title="<{$content.title}>"><{$smarty.const._MD_PAGE_INDEX_MORE}></a>
    </div>
</div>
<div class="page_footer">
    &nbsp;
    <div class="page_footerleft">
        <{$smarty.const._MD_PAGE_VIEWPAGE_POSTEDBY}>&nbsp;<a href="<{$xoops_url}>/userinfo.php?uid=<{$content.authorid}>"><{$content.author}></a>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_ON}>&nbsp;<{$content.date}>&nbsp;<{$content.time}>
    </div>
</div>
<{/foreach}>
<{if $nav_menu}>
<{$nav_menu}>
<{/if}>
<{include file='module:notifications|select.html'}>
<{/if}>