<page backtop="20mm" backleft="15mm" backright="15mm" backbottom="20mm">
    <page_footer>
       <table style="width: 100%;">
           <tr>
               <td style="border-top:1px;text-align: center;width: 100%;">
                    <{$smarty.const._MD_PAGE_PRINT_COMES}> <{$xoops_sitename}>
                    <br />
                    <a href="<{$xoops_url}>" title="<{$xoops_sitename}>"><{$xoops_url}></a>
                    <br />
                    <br />
                    <{$smarty.const._MD_PAGE_PRINT_URL}>
                    <br />
                    <a href="<{$xoops_url}>/modules/page/viewpage.php?id=<{$content_id}>" title="<{$xoops_sitename}>"><{$xoops_url}>/modules/page/viewpage.php?id=<{$content_id}></a>
               </td>
           </tr>
       </table>
    </page_footer>
    <table style="width: 100%;">
        <tr >
            <td colspan="2" style="text-align: center;">
                <img src="<{$xoops_url}>/images/logo.png" alt="<{$xoops_sitename}>" />
                <br />
                <br />
                <br />
                <br />
            </td>
        </tr>
        <{if $content_doheader}>
        <tr>
            <td style="border-bottom:1px;width:50%;text-align: left;">
                <{if $content_dotitle}>
                <h3><{$content_title}></h3>
                <{/if}>
            </td>
            <td style="border-bottom:1px;width:50%;text-align: right;">
                <{if $content_dorating}>
                <{$smarty.const._MD_PAGE_VIEWPAGE_RATING}>:&nbsp;<{$content_rating}>&nbsp;(<{$content_votes}>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_VOTE}>)
                <{/if}>
            </td>
        </tr>
        <{/if}>
        <tr >
            <td colspan="2">
                <{if $summary}>
                <h4><{$smarty.const._MD_PAGE_VIEWPAGE_SUMMARY}>:</h4>
                <ul>
                <{foreach item=summary from=$summary}>
                    <li><{$summary}></li>
                <{/foreach}>
                </ul>
                <{/if}>
                <{$content_shorttext}>
                <br />
                <{$content_text}>
                <br />
                <br />
            </td>
        </tr>
        <{if $content_dofooter}>
        <tr>
            <td style="border-top:1px;width:50%;text-align: left;">
                <em><{if $content_doauthor}><{$smarty.const._MD_PAGE_VIEWPAGE_POSTEDBY}>&nbsp;<a href="<{$xoops_url}>/userinfo.php?uid=<{$content_authorid}>"><{$content_author}></a>&nbsp;<{/if}><{if $content_dodate}><{$smarty.const._MD_PAGE_VIEWPAGE_ON}>&nbsp;<{$content_date}>&nbsp;<{$content_time}>&nbsp;<{/if}><{if $content_dohits}><{$content_hits}><{/if}></em>
            </td>
            <td style="border-top:1px;width:50%;text-align: right;">
                <{if $content_doncoms}>
                <em><img src="<{$xoops_url}>/modules/page/images/comments.png" alt="<{$content_comments}>"/>&nbsp;(<{$content_comments}>&nbsp;<{$smarty.const._MD_PAGE_VIEWPAGE_COMMENTS}>)</em>
                <{/if}>
            </td>
        </tr>
        <{/if}>
    </table>
</page>

