<{if $form}>
    <{$form}>
<{else}>
    <div class="txtcenter"><h4><{$message}></h4></div>;
<{/if}>
<{if $closebutton}>
    <br />
    <div class="txtcenter">
        <input class="btn btn-primary" value="<{$smarty.const._CLOSE}>" type="button" onclick="javascript:window.close();" />
    </div>
<{/if}>
