<div class="confirmMsg">
    <{$msg}>
    <br />
    <form name="confirm" id="confirm" action="<{$action}>" method="post">
        <{$hiddens}>
        <{$token}>
        <input class="btn btn-danger" type="submit" name="confirm_submit" value="<{$submit}>" title="<{$submit}>">
        <input class="btn" type="button" name="confirm_back" value="<{$smarty.const._CANCEL}>" onclick="javascript:history.go(-1);" title="<{$smarty.const._CANCEL}>">

    </form>
</div>