<fieldset>
    <{if $search}>
        <legend><{$smarty.const._SR_SEARCHRESULTS}></legend>
        <div>
            <{$smarty.const._SR_KEYWORDS}>&nbsp;:&nbsp;
            <span class="bold">
            <{foreachq from=$queries item=query name=foo}>
                <{$query}><{if !$smarty.foreach.foo.last}>,<{/if}>
            <{/foreach}>
            </span>
            <{if $sr_showing}>
                <br />
                <{$sr_showing}>
            <{/if}>
        </div>
        <{if count($ignored_queries) != 0}>
            <div>
                <{$ignored_words}>&nbsp;:&nbsp;
                <span class="bold">
                <{foreachq from=$ignored_queries item=query name=foo}>
                    <{$query}><{if !$smarty.foreach.foo.last}>,<{/if}>
                <{/foreach}>
                </span>
            </div>
        <{/if}>
    <{/if}>

    <{if count($modules) > 0}>
        <{foreachq from=$modules item=module name=foo}>
            <div class="searchModule">
                <div class="searchIcon floatleft">
                    <img src="<{$module.image}>" alt="<{$module.name}>">
                </div>
                <div class="searchTitle floatleft">
                    <{$module.name}>
                </div>
                <{if $module.search_url}>
                    <div class="floatright">
                        <a href="<{$module.search_url}>" title="<{$smarty.const._SR_SHOWALLR}>"><{$smarty.const._SR_SHOWALLR}></a>
                    </div>
                <{/if}>
                <div class="clear"></div>

                <{foreach from=$module.result item=result}>
                    <div class="searchItem">
                        <div class="bold"><a href="<{$result.link}>" title="<{$result.title}>"><{$result.title_highligh}></a></div>
                        <div><{$result.content}></div>
                        <span class='x-small'>
                            <{if $result.uid}>
                               <a href="<{$xoops_url}>/userinfo.php?uid=<{$result.uid}>" title="<{$result.uname}>"><{$result.uname}></a>
                            <{/if}>
                            <{if $result.time}>
                                &nbsp;(<{$result.time}>)
                            <{/if}>
                        </span>
                    </div>
                <{/foreach}>
            </div>

            <!-- prev / next -->
            <{if $module.prev || $module.next}>
                <div>
                    <{if $module.prev}>
                        <div class="floatleft">
                            <a href="<{$module.prev}>" title="<{$smarty.const._SR_PREVIOUS}>"><{$smarty.const._SR_PREVIOUS}></a>
                        </div>
                    <{/if}>
                    <{if $module.next}>
                        <div class="floatright">
                            <a href="<{$module.next}>" title="<{$smarty.const._SR_NEXT}>"><{$smarty.const._SR_NEXT}></a>
                        </div>
                    <{/if}>
                </div>
            <{/if}>
        <{/foreach}>
    <{else}>
        <div class="searchModule bold">
            <{$smarty.const._SR_NOMATCH}>
        </div>
    <{/if}>
</fieldset>