<{if $avatarform}>
<h4 class="txtcenter"><{$smarty.const._US_AVATAR}></h4>
<br />
<ul class="breadcrumb">
    <li><a href="userinfo.php?uid=<{$uid}>"><{$smarty.const._US_PROFILE}></a> <span class="divider">/</span></li>
    <li class="active"><{$smarty.const._US_UPLOADMYAVATAR}></li>
</ul>
<{if $oldavatar}>
    <div class="pad10 txtcenter floatcenter0">
        <h4 class="red bold"><{$smarty.const._US_OLDDELETED}></h4>
        <img src="<{$oldavatar}>" alt="&nbsp;" />
    </div>'
<{/if}>
<{/if}>
<{if $editprofile}>
<ul class="breadcrumb">
    <li><a href="userinfo.php?uid=<{$uid}>"><{$smarty.const._US_PROFILE}></a> <span class="divider">/</span></li>
    <li class="active"><{$smarty.const._US_EDITPROFILE}></li>
</ul>
<{/if}>