<table class="outer width400">
    <thead>
    <tr>
        <th class="txtcenter"><{$smarty.const._AM_XLANGUAGE_NAME}></th>
        <th class="txtcenter"><{$smarty.const._AM_XLANGUAGE_DESCRIPTION}></th>
        <th class="txtcenter"><{$smarty.const._AM_XLANGUAGE_CHARSET}></th>
        <th class="txtcenter"><{$smarty.const._AM_XLANGUAGE_CODE}></th>
        <th class="txtcenter"><{$smarty.const._AM_XLANGUAGE_IMAGE}></th>
        <th class="txtcenter"><{$smarty.const._AM_XLANGUAGE_WEIGHT}></th>
        <th class="txtcenter"><{$smarty.const._AM_XLANGUAGE_ACTION}></th>
    </tr>
    </thead>


    <{foreachq from=$languages item=language key=key}>
        <tr class="<{cycle values="even,odd"}>">
            <td class="txtcenter"><{$language.xlanguage_name}></td>
            <td class="txtcenter"><{$language.xlanguage_description}></td>
            <td class="txtcenter"><{$language.xlanguage_charset}></td>
            <td class="txtcenter"><{$language.xlanguage_code}></td>
            <td class="txtcenter"><img class="flag" src="<{$language.xlanguage_image}>" /></td>
            <td class="txtcenter"><{$language.xlanguage_weight}></td>
            <td class="txtcenter">
            <a href="index.php?op=edit&amp;xlanguage_id=<{$language.xlanguage_id}>"><img src="<{xoImgUrl media/xoops/images/icons/16/edit.png}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>"></a>
            <a href="index.php?op=del&amp;xlanguage_id=<{$language.xlanguage_id}>"><img src="<{xoImgUrl media/xoops/images/icons/16/delete.png}>" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>"></a>
            </td>
        </tr>
        </tr>
    <{/foreach}>
</table>