<script type="text/javascript">
    Xoops.setStatusImg('accept', '<{xoAdminIcons success.png}>');
    Xoops.setStatusImg('cancel', '<{xoAdminIcons cancel.png}>');
    Xoops.setStatusText('accept', '<{$smarty.const._AM_AVATARS_OFF}>');
    Xoops.setStatusText('cancel', '<{$smarty.const._AM_AVATARS_ON}>');
</script>
<{includeq file="admin:system|admin_navigation.html"}>
<{includeq file="admin:system|admin_tips.html"}>
<{includeq file="admin:system|admin_buttons.html"}>
<{if $avatar_count == true}>
<div class="xo-moduleadmin-infobox outer">
    <div class="xo-window">
        <div class="xo-window-title">
            <img src="<{$xoops_url}>/media/xoops/images/icons/16/avatar_system.png" alt="" />&nbsp;<{$smarty.const._MI_AVATARS_SYSTEM}>
            <a class="down" href="javascript:;">&nbsp;</a>
        </div>
        <div class="xo-window-data">
                <{foreach item=avatar from=$avatars_list}>
                <div class="cp-avatar">
                    <div class="xo-thumbimg">
                        <img class="xo-tooltip" src="../../system/class/thumbs/phpThumb.php?src=<{$xoops_rootpath}>/uploads/<{$avatar.avatar_file}>&amp;h=120&amp;w=120" alt="<{$avatar.avatar_name}>" title="<{$avatar.avatar_name}>"/>
                    </div>
                    <div class="xo-actions txtcenter">
                    <div class="spacer bold"><{$avatar.avatar_name}></div>
                    <img id="loading_avt<{$avatar.avatar_id}>" src="<{xoAppUrl media/xoops/images/spinner.gif}>" style="display:none;" alt="<{$smarty.const._AM_SYSTEM_LOADING}>" />
                    <img class="cursorpointer" id="avt<{$avatar.avatar_id}>" onclick="Xoops.changeStatus( 'avatar_system.php', { op: 'update_display', avatar_id: <{$avatar.avatar_id}> }, 'avt<{$avatar.avatar_id}>', 'avatar_system.php' )" src="<{if $avatar.avatar_display}><{xoAdminIcons success.png}><{else}><{xoAdminIcons cancel.png}><{/if}>" alt="<{if $avatar.avatar_display}><{$smarty.const._AM_AVATARS_OFF}><{else}><{$smarty.const._AM_AVATARS_ON}><{/if}>" title="<{if $avatar.avatar_display}><{$smarty.const._AM_AVATARS_OFF}><{else}><{$smarty.const._AM_AVATARS_ON}><{/if}>" />
                    <img class="cursorhelp xo-tooltip" src="<{xoAdminIcons forum.png}>" alt="<{$avatar.count}> <{$smarty.const._AM_AVATARS_USERS}>" title="<{$avatar.count}> <{$smarty.const._AM_AVATARS_USERS}>" />
                    <a class="xo-tooltip" href="avatar_system.php?op=edit&amp;avatar_id=<{$avatar.avatar_id}>" title="<{$smarty.const._AM_AVATARS_EDIT}>">
                        <img src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._AM_AVATARS_EDIT}>" />
                    </a>
                    <a class="xo-tooltip" href="avatar_system.php?op=delete&amp;avatar_id=<{$avatar.avatar_id}>" title="<{$smarty.const._AM_AVATARS_DELETE}>">
                        <img src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._AM_AVATARS_DELETE}>" />
                    </a>
                    </div>
                </div>
                <{/foreach}>
        </div>
    </div>
    <div class="clear"></div>
    <{if $nav_menu}>
    <div class="xo-pagenav floatright"><{$nav_menu}></div>
    <div class="clear spacer"></div>
    <{/if}>
</div>
<{/if}>
<!-- Display Avatar form (add,edit) -->
<{$form}>