    <script type="text/javascript" src="../../tiny_mce_popup.js"></script>
    <script type="text/javascript" src="../../utils/mctabs.js"></script>
    <script type="text/javascript" src="../../utils/form_utils.js"></script>
    <script type="text/javascript" src="../../utils/validate.js"></script>
    <script type="text/javascript" src="js/xoops_images.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="css/xoops_images.css" rel="stylesheet" />
    <base target="_self" />
</head>
<body>
    <div class="tabs">
        <ul>
            <li id="tab_images_browser" class="current"><span><a href="javascript:mcTabs.displayTab('tab_images_browser','images_browser_panel');" onmousedown="return false;"><{$smarty.const._IMAGES_TINYMCE_BROWSER}></a></span></li>
            <{if $form_add}>
                <li id="tab_images_add" class="current"><span><a href="javascript:mcTabs.displayTab('tab_images_add','images_add_panel');" onmousedown="return false;"><{$smarty.const._IMAGES_TINYMCE_ADD}></a></span></li>
            <{/if}>
        </ul>
    </div>

    <div class="panel_wrapper">
        <div id="images_browser_panel" class="panel current" style="overflow:auto;">

            <div class="mceActionPanel">
                <{$form_category}>

                <{if $form}>
                    <{$form}>
                <{else}>
                    <{if count($images) > 0}>
                        <div id="pagenav"><{$pagenav}></div>
                        <table cellspacing="0" id="imagemain">
                            <tr>
                                <th><{$smarty.const._IMAGES_NAME}></th>
                                <th><{$smarty.const._IMAGES_IMAGE}><{$lang_image}></th>
                                <th><{$smarty.const._IMAGES_MIME}></th>
                                <th><{$smarty.const._IMAGES_ALIGN}></th>
                            </tr>

                            <{foreachq from=$images item=image name=foo}>
                                <tr class="txtcenter">
                                    <td><input type="hidden" name="image_id[]" value="<{$image.id}>" /><{$image.nicename}></td>
                                    <td><img class="xoops_images" id="image<{$smarty.foreach.foo.iteration}>" onmouseover="style.cursor='pointer'" onclick="Xoops_imagesDialog.insert('image<{$smarty.foreach.foo.iteration}>');" src="<{$image.src}>" alt="<{$image.nicename}>" /></td>
                                    <td><{$image.mimetype}></td>
                                    <td>
                                        <a href="#" title="" onclick="Xoops_imagesDialog.insert('image<{$smarty.foreach.foo.iteration}>', 'left');" title=""><img src="<{xoAppUrl images/alignleft.gif}>" alt="Left" /></a>
                                        <a href="#" title="" onclick="Xoops_imagesDialog.insert('image<{$smarty.foreach.foo.iteration}>', 'center')" title=""><img src="<{xoAppUrl images/aligncenter.gif}>" alt="Center" /></a>
                                        <a href="#" title="" onclick="Xoops_imagesDialog.insert('image<{$smarty.foreach.foo.iteration}>', 'right');" title=""><img src="<{xoAppUrl images/alignright.gif}>" alt="Right" /></a></td>
                                </tr>
                            <{/foreach}>
                        </table>
                        <div id="pagenav"><{$pagenav}></div>
                    <{/if}>
                    <input type="button" id="button" name="button" class="btn btn-warning" value="<{$smarty.const._CLOSE}>" onclick="tinyMCEPopup.close();" />
                <{/if}>
            </div>
        </div>

        <{if $form_add}>
            <div id="images_add_panel" class="panel" style="overflow:none;">
                <{$form_add}>
            </div>
        <{/if}>
    </div>
</body>
</html>